# Functions --> A block of code written to perform a particular task.

In [1]:
def Simple_Intrest(P, R, T):
    return ((P * R * T)/100)

In [2]:
Simple_Intrest(P = 5000, R = 7.5, T = 5)

1875.0

In [3]:
def Simple_Intrest(P, R, T):
    print((P * R * T)/100)

In [4]:
Simple_Intrest(P = 5000, R = 7.5, T = 5)

1875.0

In [5]:
def my_function():
  print("Hello from a function")

In [6]:
my_function()

Hello from a function

In [8]:
# Parameters --> At the time of defining a function whatever the value you pass inside a function is known as parameters.

In [9]:
def my_function(fname):
  print(fname + " Refsnes")

In [10]:
# Arguments(Args) ---> At the time of calling a function whatever the value you pass inside a function is known as parameter.
# Values --> whatever the thing your function returns after calling is called  values.

In [11]:
my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [12]:
Simple_Intrest(5000, 7, 2)

700.0

In [13]:
Simple_Intrest(5000, 7)

TypeError: Simple_Intrest() missing 1 required positional argument: 'T'

In [15]:
def my_function(*kids):
  print("The youngest child is " + kids[3])

my_function("Emil", "Tobias", "Linus", "Kevin")

The youngest child is Kevin

In [16]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

The youngest child is Linus

In [17]:
def my_function(**kid):
  print("His sur name is " + kid["sname"])

my_function(fname = "Tobias", lname = "Refsnes", sname = "Mikhail")

His sur name is Mikhail

In [18]:
def my_function(country = "Norway"):
  print("I am from " + country)

In [19]:
my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [20]:
# Recursion -- > It means that a function calls itself.

In [21]:
# factorial of given number using recursion

def factorial(n): 
	
	# Checking the number
	# is 1 or 0 then
	# return 1
	# other wise return
	# factorial
	if (n==1 or n==0):
		
		return 1
	
	else:
		
		return (n * factorial(n - 1)) 

# Driver Code 
num = 5; 
print("number : ",num)
print("Factorial : ",factorial(num))

number :  5
Factorial :  120